{% extends "base_layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="mt-2">
        <h1>Welcome to Matrix to Pixel</h1>
    </div>
    <br/>
    <div class="mt-2">
        <h3>API Endpoints</h3>
        <div class="container">
            <div class="row" style="margin-left: -30px">
                <div class="col">
                    <table class="table table-hover table-dark">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">GET</th>
                            <th scope="col" class="text-center">POST</th>
                            <th scope="col">Endpoint</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" class="text-center">X</th>
                            <td class="text-center">X</td>
                            <td><a href="/matrix">/matrix</a></td>
                            <td>For plain-txt instructions</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">X</th>
                            <td class="text-center">X</td>
                            <td><a href="/matrix.json">/matrix.json</a></td>
                            <td>For JSON instructions</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <br/>
    <div class="mt-2">
        <h3>Unit Tests</h3>
        <p>To run the unit tests:</p>
        <p><code>python3 -m unittest pixel_matrix/tests.py</code></p>
    </div>
{% endblock %}