{% extends "base_layout.html" %}
{% block title %}Not found{% endblock %}
{% block content %}
    <div class="mt-2">
        <h1>Page not found!</h1>
        <h3>Please check if you are accessing the correct page</h3>
    </div>
{% endblock %}