{% extends "base_layout.html" %}
{% block title %}Method Not Allowed{% endblock %}
{% block content %}
    <div class="mt-2">
        <h1>402 Error!</h1>
        <h2>The method is not allowed for the requested URL</h2>
        <h3>Please check if you are accessing the correct page and if you are using the correct HTTP Method</h3>
    </div>
{% endblock %}